<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
   <form action="/addData" method="post">
      <input type="text" placeholder="Your Name" name="name">
      <input type="text" placeholder="Enter City" name="city">
      <button type="submit">Add Data</button>
   </form>
   <br>
   <table border="1">
      <thead>
         <tr>
            <td>No</td>
            <td>Name</td>
            <td>City</td>
            <td colspan="2" style="text-align: center;">Actions</td>
         </tr>
      </thead>
      <tbody>
         <% students.map((e,i)=>{ %>
            <tr>
               <td><%=e.id%></td>
               <td><%=e.name%></td>
               <td><%=e.city%></td>
               <td>
                 <button><a href="/editData/<%=e.id%>">Edit</a></button>
                 <button><a href="/deleteData?id=<%=e.id%>">Delete</a></button>
               </td>
            </tr>
         <% }) %>
      </tbody>
   </table>
</body>
</html>