<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Data</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="../../node_modules/simplebar/dist/simplebar.min.css">
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
  <link rel="stylesheet" href="Style.css">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <%-include('Aside')%>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <%-include('Header')%>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Admin Details</h5>
            <div class="card">
              <div class="card-body">
                <form method="post" action="/updateData" enctype="multipart/form-data">
                  <div class="mb-3">
                    <input type="text" hidden value="<%=data.id%>" placeholder="Enter Id" name="id" id="">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" name="name" value="<%=data.name%>" placeholder="Your Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label class="col-sm-4 control-label col-form-label">Gender</label>                          <div class="col-sm-8">
                      <div class="custom-control custom-radio">
                        <input type="radio" name="gender" value="Male" <%= data.gender === 'Male' ? 'checked' : '' %> class="custom-control-input" id="customControlValidation1" required>
                        <label class="custom-control-label" for="customControlValidation1">Male</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" name="gender" value="Female" <%= data.gender === 'Female' ? 'checked' : '' %> class="custom-control-input" id="customControlValidation2" required>
                        <label class="custom-control-label" for="customControlValidation2">Female</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" name="gender" value="Other" <%= data.gender === 'Other' ? 'checked' : '' %> class="custom-control-input" id="customControlValidation3" required>
                        <label class="custom-control-label" for="customControlValidation3">Other</label>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Contact No</label>
                    <div class="col-sm-8">
                      <input type="tel" value="<%=data.cntnum%>" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9+]/g, '')" maxlength="10" name="cntnum" id="lname" class="form-control" placeholder="Mobile Number" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" value="<%=data.email%>" placeholder="Email Here" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" value="<%=data.password%>" name="password" placeholder="Enter Password Here" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="validatedCustomFile" class="form-label">Upload Photo</label>
                    <div class="col-sm-8">
                      <div class="custom-file">
                        <img src="<%=data.image%>" alt="Uploaded Image Preview" class="img-thumbnail mb-3" style="max-width: 150px; height: auto;">
                        <input type="file" name="image" class="form-control" id="validatedCustomFile">
                      </div>
                    </div>
                  </div>
                  <button type="submit"  class="btn btn-primary">Update Data</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
            class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com/" target="_blank"
            class="pe-1 text-primary text-decoration-underline">ThemeWagon</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>